# dependencies (bun install)
node_modules

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache
*.tsbuildinfo
.tanstack
.nitro

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
